html,
body {
  height: 100%
}
body {
  margin: 0 20% 0 20%;
  display: grid;
  grid-template-rows: 5% auto 35%;
}

.header {
  background-color: red;
}

.visual {
  background-color: green;
}

/*FOOTER*/

.footer {
  background-color: orange;
  padding: 20px 0 20px 0;
  display: grid;
  grid-template-rows: auto 15% auto 15%;
}

.correct-guess-holder,
.correct-guess,
.incorrect-guess-holder,
.input-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-guess-holder {
    background-color: yellow;
}

.correct-guess {
  margin: 0 3px 0 3px;
  width: 30px;
  border-bottom: solid 2px black;
}

.correct-guess p {
  font-size: 20px;
  margin-bottom: 0px;
}

.incorrect-guess-holder {
  background-color: blue;
}

.incorrect-letter {
  margin-bottom: 0px;
}

.input-holder {
  background-color: yellow;
}

.input-box {
  text-align: center;
  padding: 5px;
  height: 60px;
  width: 60px;
  font-size: 40px;
}

.buttons-holder {
  background-color: blue;
}
