html,
body,
#container {
  height: 100%;
}

/*----------FLEXBOXCENTER---------------*/
#fade-screen,
.visual,
.correct-guess-holder,
.correct-guess,
.incorrect-guess-holder,
.input-holder,
.buttons-holder{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------TOP LAYER---------------*/

#lost-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3em;
}

#fade-screen {
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

#fade-screen:hover {
  cursor: pointer;
}

#container {
  margin: 0 20% 0 20%;
  display: grid;
  grid-template-rows: 5% auto 40%;
  padding: 5% 0 5% 0;
}

p {
  margin-bottom: 0px;
}

/*----------HEADER---------------*/

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#score{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  transition: color .3s, font-size .3s, scale .3s ease;
}

.high-score{
  color: #06BF00;
  transform: scale(1.5);
  transition: color .3s, scale .5s ease;
}

.normal-score{
  color: black;
  transition: color .3s ease;
}

.increment-score{
  color: white;
  transform: scale(1.5);
  transition: color .2s, font-size .3s, scale .2s ease;
}

/*----------GAME BOARD---------------*/

.show2{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.8s ease;
}

.hide2{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s ease;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s ease;
}

.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease;
}

/*----------FOOTER---------------*/

.footer {
  display: grid;
  grid-template-rows: 20% 10% auto 15% 15%;
}

.correct-guess {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 3px 0 3px;
  width: 30px;
  border-bottom: solid 1px black;
}

.correct-guess-letter {
  opacity: 0;
  font-size: 20px;
}

.incorrect-guess {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
  color: #FF5252;
}

.input-box {
  text-align: center;
  padding: 5px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: 0px;
  border-radius: 4px;
  text-transform: uppercase;
  color: black;
  background-color: #D6D6D6;
  transition: background-color 1s ease;
  transition: color 1s ease;
}

.input-box:focus {
  outline-width: 0;
  color: white;
  background-color: #ABA6A6;
  color : white;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  transition: scale 0.5s ease;
}

.buttons-holder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.buttons-holder p {
  margin: 0 5px 0 5px;
}

.button-enable {
  color: black;
  transition: color 0.1s ease;
}

.button-enable:hover{
  color: #F5F5F5;
  cursor: pointer;
  transition: color 0.2s ease;
}

.button-disable {
  color: #B7B7B7;
}

/*----------SVG STYLING---------------*/

.st0{fill:none;stroke:#000000;stroke-width:6;stroke-miterlimit:10}
.st1{fill:none;stroke:#000000;stroke-width:7;stroke-miterlimit:10}
.st2{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10}
.st3{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10}
.st4{fill:#FFFFFF;stroke:#000000;stroke-width:4;stroke-miterlimit:10}

/*----------MEDIA QUERIES---------------*/

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  #container {
    margin: 0 5% 0 5%;
  }
}
