html,
body,
#container {
  height: 100%;
}

#lost-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3em;
  pointer-events: none;
}

#fade-screen {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

#fade-screen:hover {
  cursor: pointer;
}

#container {
  margin: 0 20% 0 20%;
  display: grid;
  grid-template-rows: 5% auto 40%;
  padding: 5% 0 5% 0;
}

p {
  margin-bottom: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show2{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.8s linear;
}

.hide2{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.8s linear;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s linear;
}

.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

/*FOOTER*/

.footer {
  display: grid;
  grid-template-rows: auto 15% auto 15%;
}

.correct-guess-holder,
.correct-guess,
.incorrect-guess-holder,
.input-holder,
.buttons-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct-guess-holder {
    /*background-color: yellow;*/
}

.correct-guess {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 3px 0 3px;
  width: 30px;
  border-bottom: solid 1px black;
}

.correct-guess-letter {
  opacity: 0;
  font-size: 20px;
  pointer-events: none;
}

.incorrect-guess-holder {
  /*background-color: blue;*/
}

.incorrect-guess {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
  color: #FF5252;
}

.input-holder {
  /*background-color: yellow;*/
}

.input-box {
  text-align: center;
  padding: 5px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: 0px;
  border-radius: 4px;
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 0 black;
  background-color: #D6D6D6;
  transition: background-color 1s ease;
  transition: text-shadow 1s ease;
}

.input-box:focus {
  outline-width: 0;
  color: white;
  background-color: #ABA6A6;
  color : transparent;
  text-shadow: 0 0 0 white;
  transition: background-color 0.5s ease;
  transition: text-shadow 0.5s ease;
  transition: scale 0.5s ease;
}

.buttons-holder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.buttons-holder p {
  margin: 0 5px 0 5px;
}

.button-enable {
  color: black;
  transition: color 0.1s ease;
}

.button-enable:hover{
  color: #F5F5F5;
  cursor: pointer;
  transition: color 0.2s ease;
}

.button-disable {
  color: #B7B7B7;
  pointer-events: none;
}

/* SVG */
.st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
.st2{fill:#FFFFFF;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
